    * {
    box-sizing: border-box;
}

.menu {
    float: left;
    width: 20%;
}

.menuitem {
    padding: 8px;
    margin-top: 7px;
    border-bottom: 1px solid #f1f1f1;
}

.main {
    float: left;
    width: 60%;
    padding: 0 20px;
    overflow: hidden;
}

.right {
    background-color: lightblue;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
}

a {
    text-decoration: none;
}

header {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 20px 0;
}

header a {
    color: grey;
}

header ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 430px;
}

#logo img {
    margin-left: 250px;
    max-width: 50px;
    max-height: 50px;
}

#menu li {
    padding: 20px;
}

article {
    color: white;
    padding: 50px;
    text-align: center;
    font-size: 15px;
    margin-bottom: 70px;
}

.button {
    align-self: flex-start;
    margin-top: 50px;
}

.button a {
    color: white;
    background-color: grey;
    padding: 10px 30px;
    border-radius: 15px;
}

.containers {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.box {
    border: 2.5px solid dimgrey;
    background-color: white;
    flex-basis: 20%;
    margin-left: 21%;
    position: relative;
    margin-top: -208px;
    margin-bottom: 164px;
    margin-left: ;
}

.box h1 {
    color: grey;
}

.box p {
    color: grey;
}

.box1 {
    border: 2.5px solid dimgrey;
    background-color: white;
    flex-basis: 20%;
    position: relative;
    margin-top: -208px;
    margin-bottom: 164px;
}

.box1 h1 {
    color: grey;
}

.box1 p {
    color: grey;
}

.box2 {
    border: 2.5px solid dimgrey;
    background-color: white;
    flex-basis: 20%;
    flex-direction: column;
    margin-right: 18%;
    position: relative;
    margin-top: -208px;
    margin-bottom: 164px;
}

.box2 h1 {
    color: grey;
}

.box2 p {
    color: grey;
}

//////////////////
////////////////
////////////////
/////////////////
/////////////
article2 {}

a {
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
}

.secondtittle {
    text-align: center;
}

.secondtittlesubscript {
    text-align: center;
}

.btn {
    display: flex;
}

.btn1 {
    padding: 5px 6px;
    color: whitesmoke;
    background-color: black;
    position: relative;
    margin-left: 592px;
    margin-right: 16px;
}

.btn2 {
    padding: 5px 6px;
    background-color: orangered;
    position: relative;
}

.secondcontainer {
    display: flex;
    margin-top: 1px;
    justify-content: space-between;
    position: relative;
    margin-top: 50px;
}

.box3 {
    border: 1.5px solid black;
    background-color: yellow;
    flex-basis: 20%;
    position: relative;
    margin-left: 104px;
    margin-bottom: 20px;
}

.box3 h1 {
    text-align: center;
    font-size: 30px;
    color: orangered;
}

.box3 p {
    color: grey;
}

.box4 {
    border: 1.5px solid black;
    background-color: yellow;
    flex-basis: 20%;
    position: relative;
    margin-right: 0;
    margin-bottom: 20px;
}

.box4 h1 {
    text-align: center;
    font-size: 30px;
    color: orangered;
}

.box4 p {
    color: grey;
}

.box5 {
    border: 1.5px solid black;
    background-color: yellow;
    flex-basis: 20%;
    position: relative;
    margin-right: 0;
    margin-bottom: 20px;
}

.box5 h1 {
    text-align: center;
    font-size: 30px;
    color: orangered;
}

.box5 p {
    color: grey;
}

.box6 {
    align-items: center;
    border: 1.5px solid black;
    background-color: yellow;
    flex-basis: 20%;
    position: relative;
    margin-right: 156px;
    margin-bottom: 20px;
}

.box6 h1 {
    text-align: center;
    font-size: 30px;
    color: orangered;
}

.box6 p {
    align-items: center;
    color: grey;
}

.container25 {
    display: flex;
    justify-content: center;
}

input[type=text],
input[type=number],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical .contactUs {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
    /////////
    /////////